
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <h1>   
      FORMULARIO USUARIOS
    </h1>
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4"> 
      <ul class="list-group">
        <li 
        *ngFor="let user of userArray"
        class="list-group-item list-group-item-action "
        (click)="openForEdit(user)"
        [class.active]="user == selectedUser">
        <span class="badge badge-primary">{{user.id}}</span>
        {{user.nombre}} - {{user.apellido}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            crear un usuario            
          </div>
          <div class="form-gruop">
            <input type="text" [(ngModel)]="selectedUser.nombre" placeholder="nombre" class="form-contol">
          </div>
          <div class="form-gruop">
            <input type="text" [(ngModel)]="selectedUser.apellido" placeholder="apellido" class="form-contol">
          </div>
          <div class="form-gruop">
            <input type="text" [(ngModel)]="selectedUser.telefono" placeholder="telefono" class="form-contol">
          </div>
          <div class="form-gruop">
            <select name = "comuna">
              <option value = "">--Seleccionar comuna--</option>
              <option *ngFor="let comuna of selectedComuna"[value]="comuna.name">
                {{comuna.name}}
              </option>
            </select>      
          </div>
          <button (click)="addOrEdit()" class="btn btn-primary">
              guardar
          </button>
          <button 
          *ngIf="selectedUser.id !== 0"
          class="btn btn.delete"
          (click)="delete()">
            eliminar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>    
  </div>
</div>
